
.about__box{
  width: 700px;
  padding-top: 100px;
  margin-left: 250px;
  h1{
    color: #303030;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;
  }
  p{
    color: #303030;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-top: 20px;
  }
}