.header{
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;

  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  &__logo{
    position: absolute;
    top: 30%;
    left: 27%;
  }
  &__left{
    display: flex;
    align-items: center;
    column-gap: 50px;
    p{
      color: #A7AED2;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    h2{
      color: #303030;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  &__center{
    position: relative;
    input{
      display: flex;
      width: 380px;
      height: 45px;
      padding: 14.5px 123px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border-radius: 31px;
      background: #F4F5FA;
      border: none ;

    }
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 20px;
    button{
      background: #FFF;
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 21px;
      border: 1px solid #C0C2CB;
      width: 86px;
      height: 34px;
      flex-shrink: 0;
    }
  }
  &__local{
    display: flex;
    h2{
      color: #46C578;
      text-align: right;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 16px */
    }
    h3{
      color: var(--text-color-captions, #A7AED2);
      text-align: right;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 12px */
    }
  }
  &__line{
    width: 1200px;
    height: 1px;
    background: #F0F0F0;
    margin: 25px 0;
  }
  &__nav{
    ul{
      display: flex;
      column-gap: 30px;
    }
    li{
      display: flex;
      align-items: center;

      column-gap: 4px;
      color: #303030;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    li:hover{
      background: grey;
    }
    li:last-child{
      color: var(--main-color-green, #46C578);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  &__basket{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #46C578;
    button{
      width: 34px;
      height: 34px;
      flex-shrink: 0;
      border-radius: 10px;
      background: #74D69A;
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border: none;
    }
    h4{
      color: #FFF;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p{
      color: rgba(255, 255, 255, 0.65);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
.header.scrolled{
  .header__line{
    display: none;
  }
  .header__bottom{
    margin-bottom: 0;
    margin-top: 10px;
  }
  .header__top{
    margin-top: 10px;
  }
  background: rgb(255, 255, 255, 0.93);
  color: white;
}
.dropdown__content{
  display: none;
  position: absolute;
  right: -20px;
  top: 40px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown{
  position: relative;
  padding-bottom: 40px;
}
.dropdown:hover .dropdown__content{
display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}