.action{
  a{
    list-style: none;
    text-decoration: none;
  }
  &__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 80px 0 50px 0;
    h2{
      color: #303030;
      font-size: 42px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    p{
      color: #46C578;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}