.vegetables{
  margin-top: 250px;
  text-align: center;
  h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #46c578;
  }
  &__Line{
    height: 2px;
    background: #46c578;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
}
.cart__st{
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 40px;
}
.cart__goods{
  width: 270px;
  height: 400px;
  background: #22cf5944;
  text-align: center;
  border-radius: 12px;
  h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
  }
  h3{
    font-size: 40px;
    padding-top: 10px;
    font-weight: 700;
  }
  p{
    font-size: 20px;
  }
  button{
    width: 200px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #46c578;
    color: white;
    font-size: 20px;
  }
}
