.cart__goods{
  width: 250px;
  height: 350px;
  background: #22cf5944;
  text-align: center;
  border-radius: 12px;
  h2{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
  }
  h3{
    font-size: 40px;
    padding-top: 10px;
    font-weight: 700;
  }
  p{
    font-size: 20px;
  }
}