.faq{

  &__not{
    display: none;
  }
  &__modal{
    position: fixed;
    width: 300px;
    min-height: 300px;
    background: khaki;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    padding: 35px;
    input{
      height: 40px;
      width: 100%;
    }
    textarea{
      padding: 30px 15px 10px;

    }
  }
  &__box {
    display: flex;
    padding-top: 250px;
    position: relative;
  }
  &__left{
    h2{
      color: #303030;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
    h3{
      color: #303030;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 25px;
      width: 230px;
    }
    h3:hover{
      color: var(--Main-Color-Green, #46C578);
    }
    button{
      display: inline-flex;
      width: 260px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1.5px solid #46C578;
      background: #46C578;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 25px;
    }
  }
  &__right{
    padding-left: 80px;
    padding-bottom: 100px;
  }
  &__question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    h3{
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 25px;
    }
  }
}



