.faq{
  &__box {
    display: flex;
    padding-top: 250px;
  }
  &__left{
    h2{
      color: #303030;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 100%;
    }
    h3{
      color: #303030;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 25px;
      width: 230px;
    }
    h3:hover{
      color: var(--Main-Color-Green, #46C578);
    }
    button{
      display: inline-flex;
      width: 260px;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      border: 1.5px solid #46C578;
      background: #46C578;
      color: #FFF;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 25px;
    }
  }
  &__right{
    padding-left: 80px;
    padding-bottom: 100px;
  }
  &__question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    h3{
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      padding-top: 25px;
    }
  }
}



